body {
    height: 100vh;
}

footer {
    text-align: right;
    background-color: black;
    color: white;
    margin-top: 5px;
    padding-right: 20px;
}

h3 {
    vertical-align: middle;
}

.title-card {
    height: 25%;
    background-color: black;
    color: white;
    text-align: center;
}

.tables {
    display: flex;
    justify-content: space-around;
    vertical-align: center;
}

.table-1 {
    padding: 3px;
    border: 3px black;
    border-style: double;
    height: 75vh;
    width: 25%;
    text-align: center;
    margin-top: 15px;
    display: flex column;
}

.table-2 {
    padding: 3px;
    border: 3px black;
    border-style: double;
    height: 75vh;
    width: 25%;
    text-align: center;
    margin-top: 15px;
    display: flex column;
}

.table-3 {
    padding: 3px;
    border: 3px black;
    border-style: double;
    height: 75vh;
    width: 25%;
    text-align: center;
    margin-top: 15px;
    display: flex column;
}

.admin-login {
    padding-right: 25px;
    padding-top: 10px;
    margin: 5px;
}

.login-button {
    margin-right: 65px;
    margin-top: 5px;
    margin-bottom: 10px;
}