<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="Reaper-Repository\Develop\public\css\jass.css">-->
    <link href="Reaper-Repository\Develop\public\css\style.css" rel="stylesheet">
    <title>Reaper's Repository: The Forgotten Apocaplyse of the Great War</title>
</head>
<header class="title-card">
    <h1>Reaper's Repository:</h1>
    <br>
    <h2>The Forgotten Apocalypse of the Great War</h2>
</header>
<body>
    {{ Disease }}
    <footer>
        <h2>Admin Login</h2>
<form class="form login-form">
  <div class="form-group">
    <label for="email-login">Email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form>

<!--
    <script src="/js/login.js"></script> 
-->
    </footer>
</body>
</html>