

    <div class="tables">
        <card class="table-1">
            <h3>Battles</h3>
        </card>
        <card class="table-2">
            <h3>Disease</h3>
        </card>
        <card class="table-3">
            <h3>Lasting Effects</h3>
        </card>
    </div>
   

